.menuContainer{
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 40;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.logoImg{
    height: 100%;
    width: auto;
}

.itemContainer{
    width: 120px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    color: brown;
}